@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.rancho {
    font-family: "Rancho", cursive;
}

.bg-btn{
    background: linear-gradient(to right, #001e16 10%, #990503 100%);
    color:white;
    font-family: "Poppins", sans-serif;
    font:bold;
    opacity: 0.7;;
  
    

}

.poppins {
    font-family: "Poppins", sans-serif;
}

.color {
    
    background: linear-gradient(to right, #57ebda 10%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.img-1{
    grid-column: 1/7  ;
    grid-row: 1/13;
    
    
}

.img-2{
    grid-column: 7/13  ;
    grid-row: 1/7
    
}
.img-3{
    grid-column: 7/13  ;
    grid-row: 7/13;
    
}
/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    display:grid;
    -webkit-mask: conic-gradient(from 15deg,#0000,#000);
    animation: l26 1s infinite steps(12);
  }
  .loader,
  .loader:before,
  .loader:after{
    background:
      radial-gradient(closest-side at 50% 12.5%,
       #f03355 96%,#0000) 50% 0/20% 80% repeat-y,
      radial-gradient(closest-side at 12.5% 50%,
       #f03355 96%,#0000) 0 50%/80% 20% repeat-x;
  }
  .loader:before,
  .loader:after {
    content: "";
    grid-area: 1/1;
    transform: rotate(30deg);
  }
  .loader:after {
    transform: rotate(60deg);
  }
  
  @keyframes l26 {
    100% {transform:rotate(1turn)}
  }